html {
	background-image: linear-gradient(to bottom right, #2f6982, #ebf8e1, #f2c494);
	min-height: 100% ;
	min-width: 100% ;
}

#center-div {
	text-align: center;
}

#svg-container{
	align-items: center;
}

.svg-circle{
	stroke: #f2c494;
	stroke-width: 2; 
	fill: #2f6982;
}

#svg-star {
	fill: #f2c494;
	stroke: #2f6982;
	stroke-width:5;
	fill-rule:evenodd;
}

#svg-rect {
	fill: #f2c494;
	stroke: #2f6982;
	stroke-width: 3;
	fill-opacity: 0.5;
	stroke-opacity: 0.9;
}

#svg-text{
	font-family: "Verdana";
	font-size: "35";
	fill: #2f6982;
}

h1 {
	font-style: normal;
	color: #334f5b; 
}

button {
	font-style: normal;
	background-color: #334f5b; 
	border: none;
	color: #f9f1e6;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 12px;
	margin: 20px;
	width: 150px;

	transition: all ease-in-out 0.5s;
	cursor: pointer;
  }

button:hover {
	font-family: Arial;
	background-color: #85a9a2;
}

img {
	padding-left: 42px;
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}

#footer{
    margin: auto;
    text-align:left;
    padding: 3px;
}